[submodule "lyric-app-web"]
	path = lyric-app-web
	url = https://github.com/hhpr98/lyric-app-web.git
[submodule "lyric-json-creator"]
	path = lyric-json-creator
	url = https://github.com/hhpr98/lyric-json-creator.git
[submodule "lyric-app-desktop-playing"]
	path = lyric-app-desktop-playing
	url = https://github.com/hhpr98/lyric-app-desktop-playing.git
[submodule "lyric-app-desktop"]
	path = lyric-app-desktop
	url = https://github.com/hhpr98/lyric-app-desktop.git
